<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hostel"
        tools:targetApi="31">
        <activity
            android:name=".Security"
            android:exported="false" />
        <activity
            android:name=".cctv"
            android:exported="false" />
        <activity
            android:name=".housekeeping"
            android:exported="false" />
        <activity
            android:name=".parking"
            android:exported="false" />
        <activity
            android:name=".Dispenser"
            android:exported="false" />
        <activity
            android:name=".entertainment"
            android:exported="false" />
        <activity
            android:name=".meals"
            android:exported="false" />
        <activity
            android:name=".studyArea"
            android:exported="false" />
        <activity
            android:name=".pantry"
            android:exported="false" />
        <activity
            android:name=".laundry"
            android:exported="false" />
        <activity
            android:name=".games"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".bottom_navigation"
            android:exported="false" />
        <activity
            android:name=".wifi"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".hostel_login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>